[Unit]
Description=ShowZen API
After=network.target

[Service]
WorkingDirectory=/opt/showzen/api
ExecStart=/usr/local/bin/dotnet /opt/showzen/api/ShowZen.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=showzen-api
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://0.0.0.0:5000
Environment=ConnectionStrings__Default=Host=localhost;Port=5432;Database=ShowZen;Username=sapienza;Password=##Cavaleiro33
Environment=Redis__Configuration=localhost:6379

[Install]
WantedBy=multi-user.target
