<abp-modal [(visible)]="isModalOpen" [options]="{ size: 'md' }">
    <ng-template #abpHeader>
        <h3>Novo Cliente</h3>
    </ng-template>

    <ng-template #abpBody>
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="mb-3">
                <label class="form-label" for="client-name">Nome do Cliente *</label>
                <input type="text" id="client-name" class="form-control" formControlName="name" autofocus />
            </div>

            <div class="mb-3">
                <label class="form-label" for="client-type">Tipo de Cliente *</label>
                <select id="client-type" class="form-select" formControlName="type">
                    <option *ngFor="let opt of clientTypes" [ngValue]="opt.value">{{ opt.key }}</option>
                </select>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="client-email">E-mail</label>
                    <input type="email" id="client-email" class="form-control" formControlName="email" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="client-phone">Telefone</label>
                    <input type="text" id="client-phone" class="form-control" formControlName="phone" />
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" (click)="close()">
            Cancelar
        </button>
        <button class="btn btn-primary" type="button" [disabled]="form.invalid" (click)="save()">
            <i class="fa fa-check me-1"></i>
            Salvar Cliente
        </button>
    </ng-template>
</abp-modal>